@page "/ProgressIndicator"

<h1>ProgressIndicator Component</h1>

<BitProgressIndicator Label="Example title"
                      Description="Example description"
                      BarHeight="20" />